body {
  font-family: monospace;
  
}
#official-name {
  font-style: italic;
}
table {
  border: solid 2px black;
  width: 50%;
  text-align: center;
  
}
td,tr {
  border: solid 2px black;
  padding: 10px;
}
img {
  width: 250px;
}
.aside-bar {
  float: right;
  margin-top: 250px;
}

footer{
  background-color: rgb(63, 63, 58);
  padding: 10px;
  margin: 10px 0 2px 0px;
  color: white;
}
footer a {
  color: aqua;
}